*{
  padding: 10px;
  margin: 10px;
}
p{
  color: red;
  font-weight: bold;
}
.update{
  vertical-align: top;
  display: inline-block; 
  background-color: black;
  color: aliceblue;
  width: auto;
}
span{
  color: red;
  text-decoration: underline;
  font-weight: Lighter;
}
h1{
  text-decoration: underline;
  font-weight: lighter;
}