<div *ngIf="products" id="top">
  <!-- <img src="../../assets/img/Trees.png" alt="Trees"> -->
  <h6>This sight is to keep track of product you may need in the future. A sight built to show the validations and different features. Unfortunatly not the best looking. Please have fun and mess around while visiting.</h6>

  <h3>Operating site</h3>
  <ul><!--
  --><li>You can add a new product to the list by the button located bellow</li><!--
  --><li>You can not delete and item from the list until the quanity is changed to zero. I did this to give the feel of ordering items and you dont want the item removed until you have received the quanity you originally planned on.</li><!--
  --><li>To remove/delete item from list go to "edit" change the quanity to zero then click on details to delete.</li><!--
  --></ul>
  <h1>Product List</h1>
  <button [routerLink]="['/products/new']" class="btn btn-sm btn-outline-primary">Add New Product</button>
  <div>
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Product Id</th>
          <th scope="col">Name</th>
          <th scope="col">QTY</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of products">
          <td>{{ i._id }}</td>
          <td>{{ i.name }}</td>
          <td>{{ i.qty }}</td>
          <td>{{ i.price }}</td>
          <td>
            <button class="btn btn-link" [routerLink]="['/products', i._id, 'edit']">Edit</button>
          </td>
          <td>
            <button class="btn btn-link" [routerLink]="['/products', i._id]">Details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>