<h1></h1>
<!-- Jumbotron -->
<div class="jumbotron text-center">
  <!-- Title -->
  <h4 class="card-title"></h4>
  <!-- Card image -->
  <div class="view my-4 animated jackInTheBox slow">
    <img src="./assets/img/AHurd3.jpg" class="img-fluid " alt="image">
  </div>
  <h5 class="black-text h4 mb-4">Developer</h5>
  <p class="card-text black-text h6">Skilled at working in a fast paced, multitask environment with accuracy, organization
    and attention to detail. Dedicated to hard work and professional attitude. Exceptional relations with work
    associates and employers. Punctual, understanding my Employer’s time is valuable. Seeking a career with a good
    company that values hard work, professionalism and loyalty.</p>
  <!-- Linkedin -->
  <a class="fa-lg p-2 m-2 li-ic" target="_blank" href="https://www.linkedin.com/in/adrial-hurd"><i class="fab fa-linkedin-in grey-text"></i></a>
</div>
<!-- /Jumbotron -->
<div id="about" class="card d-flex animated fadeIn slow">
  <div class="card-header text-center h5">A little about me</div>
  <div class="card-body">
    <p class="card-text h5 text-white">I pride myself on being a hard worker and accomplishing my goals. I also enjoy
      spending time with my five year old and helping her through school. If im not working or playing with my daughter
      then you will most likely find me organizing a group in one of the Mass Multiplayer Online games. I also enjoy
      many activities outside such as golf, hunting, and almost any sport.</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <!-- Card -->
      <div id="img1" class="card card-image z-depth-5 animated slideInLeft">
        <!-- Content -->
        <div class="text-white text-center align-items-center rgba-black-light py-5 px-4">
          <div>
            <h3 class="card-title pt-2"><strong>Hunting</strong></h3>
            <p>Lets be honest. The reason I hunt, for the most part, is the meat. Deer jerky or a nice peace of
              backstrap cooked right is wonderfull. I also find it peacefull being in the woods listening to the wind
              blow through the trees.</p>
            <!-- <a class="btn btn-pink"><i class="fas fa-clone left"></i> View project</a> -->
          </div>
        </div>
      </div>
      <!-- /Card -->
    </div>
    <div class="col-sm">
      <!-- Card -->
      <div id="img2" class="card card-image z-depth-5 animated slideInUp">
        <!-- Content -->
        <div class="text-white text-center align-items-center rgba-black-light py-5 px-4">
          <div>
            <h3 class="card-title pt-2"><strong>Camping</strong></h3>
            <p>Sitting next to a campfire shareing stories and laughing. Rosting marshmellows with the family. Hicking
              through the woods. These moments are my most peacefull times. I am able to reset and clear my mind while having fun with family.</p>
            <!-- <a class="btn btn-pink"><i class="fas fa-clone left"></i> View project</a> -->
          </div>
        </div>
      </div>
      <!-- /Card -->
    </div>
    <div class="col-sm">
      <!-- Card -->
      <div id="img3" class="card card-image z-depth-5 animated slideInRight">
        <!-- Content -->
        <div class="text-white text-center align-items-center rgba-black-light py-5 px-4">
          <div>
            <h3 class="card-title pt-2"><strong>Gaming</strong></h3>
            <p>I enjoy playing many games. From board and card games to video games. Getting lost in another world. Working with others to conquor that foe or fortify the base. I find enjoyment in accomplishments and progression.</p>
            <!-- <a class="btn btn-pink"><i class="fas fa-clone left"></i> View project</a> -->
          </div>
        </div>
      </div>
      <!-- /Card -->
    </div>
  </div>
</div>
<script type="text/javascript">
  new WOW().init();
</script>